name: Update README

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'description'
        required: false 
        type: boolean 
  schedule:
    - cron: '30 1 */2 * *'  # 每隔一天运行

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update README
        run: |
          # 获取当前日期和时间
          current_date=$(date +"%Y-%m-%d %H:%M:%S")
          # 在 README.md 文件末尾添加当前日期和时间
          echo "Last updated: $current_date" >> README.md

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update README with current date"
            git push
          fi